$main-color: #4776E6;

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F5F5F5;
}

.container {
    .title {
        color: $main-color;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .greeting {
        color: #222222;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .form-control {
        border-color: $main-color;
    }

    .form button {
        background-color: $main-color;
        border-color: $main-color;
    }

    .form button:hover {
        background-color: #3362E1;
    }

    .link-text {
        a {
            color: $main-color;

            &:hover {
                color: #3362E1;
            }
        }
    }
}