<!DOCTYPE html>
<html>
<head>
    <title>Ticket Information</title>
    <link rel="stylesheet" type="text/css" href="/WebLab1/scss/about_ticket.css">
</head>
<body>
    <header>
        <div class="left-section">
            <a href="/WebLab1/templates/sign_in.html" class="logout-button">Logout</a>
        </div>
        <div class="right-section">
            <a href="/WebLab1/templates/user.html" class="user-button">User</a>
            <a href="/WebLab1/templates/event.html" class="create-event-button">Create Your Own Event</a>
        </div>
    </header>
    <div class="ticket-info-container">
        <h1>Ticket Information</h1>
        <p>Ticket prices for our events vary depending on the type and organization. Here is a brief overview of the ticket categories:</p>
        <ul class="ticket-list">
            <li>General Admission: $20</li>
            <li>VIP: $50</li>
            <li>Children under 12 years old: $10</li>
            <li>Group Discount (10 or more): 10% off</li>
        </ul>
    </div>
    <a href="/WebLab1/templates/home_page.html" class="back-button">Back to List</a>
</body>
</html>