<!DOCTYPE html>
<html>
<head>
    <title>Event Listing Page</title>
    <link rel="stylesheet" type="text/css" href="/WebLab1/scss/home_pages.css">
</head>
<body>
    <header>
        <div class="left-section">
            <a href="/WebLab1/templates/sign_in.html" class="logout-button">Logout</a>
        </div>
        <div class="right-section">
            <a href="/WebLab1/templates/user.html" class="user-button">User</a>
            <a href="/WebLab1/templates/event.html" class="create-event-button">Create Your Own Event</a>
            <a href="/WebLab1/templates/about_us.html" class="about-us-button">About Us</a>
        </div>
    </header>
    <h1>Upcoming Events</h1>
    <div class="event-container">
        <div class="event">
            <h2>Gmuh gay</h2>
        </div>
        <div class="event">
            <h2>School Musical</h2>
            <p>Buy your ticket to this year's student musical performance.</p>
            <p>Location: Auditorium</p>
            <a href="/WebLab1/templates/about_ticket.html" class="buy-ticket-button">Buy Ticket</a>
        </div>
        <div class="event">
            <h2>Prom Night</h2>
            <p>JUNE 30TH 7:00 PM</p>
            <p>Buy tickets for Prom. Ticket price includes dinner.</p>
            <p>Location: School Hall</p>
            <a href="/WebLab1/templates/about_ticket.html" class="buy-ticket-button">Buy Ticket</a>
        </div>
        <div class="event">
            <h2>Movie Fundraiser</h2>
            <p>AUGUST 14TH 6:00 PM</p>
            <p>Help raise funds for the school building project by attending a movie night.</p>
            <p>Location: Classic Cinema</p>
            <a href="/WebLab1/templates/about_ticket.html" class="buy-ticket-button">Buy Ticket</a>
        </div>
    </div>
</body>
</html>