<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/WebLab1/scss/sign-up.css" />
</head>
<body>
  <div class="container">
    <h1>Join us today!</h1>
    <p>Sign up now to become a member.</p>

    <form>
      <div class="form-field">
        <input type="text" placeholder="Name" autocomplete="off" required />
      </div>

      <div class="form-field">
        <input type="email" placeholder="Email" autocomplete="off" required />
      </div>

      <div class="form-field">
        <input type="password" placeholder="Choose A Password" autocomplete="off" required />
      </div>

      <div class="form-field">
        <input type="password" placeholder="Re-Enter Password" autocomplete="off" required />
      </div>

      <a href="/WebLab1/templates/home_page.html" type="submit" class="sign-up-button">Signup</a>
    </form>

    <div class="login-link">
      <p>Already a member? <a href="/WebLab1/templates/sign_in.html">Login Here</a></p>
    </div>
  </div>
</body>
</html>