<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="sign_up.css" />
</head>
<body>
  <div class="container">
    <h1>Join us today!</h1>
    <p>Sign up now to become a member.</p>

    <form>
      <div class="form-field">
        <input type="text" placeholder="Name" autocomplete="off" required />
      </div>

      <div class="form-field">
        <input type="email" placeholder="Email" autocomplete="off" required />
      </div>

      <div class="form-field">
        <input type="password" placeholder="Choose A Password" autocomplete="off" required />
      </div>

      <div class="form-field">
        <input type="password" placeholder="Re-Enter Password" autocomplete="off" required />
      </div>

      <button type="submit" class="sign-up-button">Signup</button>
    </form>

    <div class="login-link">
      <p>Already a member? <a href="#">Login Here</a></p>
    </div>
  </div>
</body>
</html>