<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/WebLab1/scss/sign-in.css" />
</head>
<body>
  <div class="form-container">
    <h3>Sign in or create an account</h3>
    <form>
      <div class="form-field">
        <input type="text" name="email" class="email-input" placeholder="Email" required />
        <label for="email" class="email-label">Email</label>
      </div>
      <div class="form-field">
        <input type="password" name="password" class="password-input" placeholder="Password" required />
        <label for="password" class="password-label">Password</label>
      </div>
      <button href="/WebLab1/templates/home_page.html" type="submit" class="sign-in-button">Sign in</button>
      <div class="google-sign-in-button">
        G Sign in with Google
      </div>
      <div class="forgot-password-button">
        <a href="/WebLab1/templates/register.html">Don't have an account?</a>
      </div>
    </form>
  </div>
</body>
</html>