<!DOCTYPE html>
<html>
<head>
 <title>Profile Page</title>
 <link rel="stylesheet" type="text/css" href="/WebLab1/scss/user.css">
</head>
<body>
 <div class="container">
 <h1>Profile Information</h1>
 <form action="#">
 <label for="fname">First Name:</label><br>
 <input type="text" id="fname" name="fname" value="Doe"><br>
 <label for="lname">Last Name:</label><br>
 <input type="text" id="lname" name="lname" value="John"><br>
 <label for="birthday">Birthday:</label><br>
 <input type="text" id="birthday" name="birthday" value="04/01/2019"><br>
 <label for="email">Email:</label><br>
 <input type="text" id="email" name="email" value="test@appseed.us"><br>
 <label for="address">Address:</label><br>
 <input type="text" id="address" name="address" value="Address"><br>
 <label for="city">City:</label><br>
 <input type="text" id="city" name="city" value="New York"><br>
 <label for="zip">ZIP:</label><br>
 <input type="text" id="zip" name="zip" value="911299"><br>
 <label for="phone">Phone:</label><br>
 <input type="text" id="phone" name="phone" value="40999999123"><br>
 <label for="gender">Gender:</label><br>
 <input type="text" id="gender" name="gender" value="Male"><br>
 <label for="number">Number:</label><br>
 <input type="text" id="number" name="number" value="113"><br>
 <button type="submit">Save All</button>
 <button class="home-button" onclick="location.href='/WebLab1/templates/home_page.html';">Home</button>
 </form>
 </div>
</body>
</html>